img {
    max-width: 100%;
    height: auto;
}
.row{
    margin-top: 2%;
    margin-bottom: 2%;
}

.h1{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.h2{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 34px; 
}

.h3{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.p{
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 14px;
}

.hero-paragraph{
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
}

.hr{
    margin-top: 4%;
    margin-bottom: 4%;
    border: 0.4pt;
    border-style: dashed;
    color: rgba(150, 154, 157, 0.2);
}

#hidden-articles{
    display: none;
}