img {
    max-width: 100%;
    height: auto;
}

.row{
    margin-top: 2%;
    margin-bottom: 1%;
}

h1{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 34px; 
}

h3{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

p{
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 14px;
}

.hero-paragraph{
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 16px;
}

.hr{
    margin-top: 4%;
    margin-bottom: 4%;
    border: 0.4pt;
    border-style: dashed;
    color: rgba(150, 154, 157, 0.2);
}

#hidden-articles{
    display: none;
}

.button{
    display: inline-block;
    margin-bottom: 3%;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
     touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.unclicked-button{
    color: #458fc9;
    background-color: #ffffff;
    border-color: #458fc9;
}

.clicked-button{
    color: #ffffff;
    background-color: #458fc9;
    border-color: #458fc9;
}